# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [68]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import gkey

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [69]:
cities = os.path.join('..','output_data','cities.csv')
df = pd.read_csv(cities)
df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,belmonte,-15.8631,-38.8828,26.00,73,20,5.14,BR,1612222261
1,esperance,-33.8667,121.9000,17.00,77,0,4.63,AU,1612221850
2,shimoda,34.6667,138.9500,14.00,88,75,6.69,JP,1612222265
3,ponta do sol,32.6667,-17.1000,15.00,70,15,1.34,PT,1612222266
4,asau,46.4333,26.4000,-1.67,66,79,0.20,RO,1612222268

In [70]:
df.describe()

,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Date
count,556.000000,556.000000,556.000000,556.000000,556.000000,556.000000,5.560000e+02
mean,20.275236,17.251864,9.664802,74.181655,54.057554,3.871079,1.612223e+09
std,32.372774,91.271991,17.759812,18.242246,38.919972,2.585416,2.970289e+02
min,-54.800000,-179.166700,-44.060000,1.000000,0.000000,0.200000,1.612222e+09
25%,-6.327825,-67.520825,-1.670000,66.000000,14.750000,1.870000,1.612222e+09
50%,23.922350,21.930500,15.340000,78.000000,64.000000,3.430000,1.612223e+09
75%,46.006025,103.097575,24.265000,86.250000,90.000000,5.240000,1.612223e+09
max,78.218600,179.316700,33.000000,100.000000,100.000000,14.400000,1.612223e+09

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [71]:
#Configure gmaps
gmaps.configure(api_key=gkey)

#Get coordinates for the map
coordinates = df[['Lat','Lng']]

#Get humidity values for the map
humidity = df['Humidity']

#Configure layout for the map
figure_layout = {
    'width':'1000px',
    'height':'600px',
    'border':'1px solid black',
    'padding':'1px',
    'margin':'0 auto 0 auto'
}

#Plot map with heatmap layer
f = gmaps.figure(layout=figure_layout)
f.add_layer(gmaps.heatmap_layer(coordinates,humidity, point_radius=10, max_intensity = 100))
f

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [72]:
#My conditions are: Max_Temp in the range of 15 and 25 C, Wind speed <10m/s, Cloudiness <50%, Humidity <40%
hotel_df = df.loc[(df['Max_Temp']>=15) & (df['Max_Temp']<=25) & \
       (df['Wind_Speed']<=10) & (df['Cloudiness']<=50) & (df['Humidity']<=40)]
hotel_df.reset_index(inplace=True,drop=True)
hotel_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,san patricio,28.0170,-97.5169,22.00,16,1,2.57,US,1612222274
1,ndele,8.4109,20.6473,24.44,26,7,1.78,CF,1612222295
2,kutum,14.2000,24.6667,17.63,27,0,3.01,SD,1612222416
3,rawson,-43.3002,-65.1023,24.05,29,0,9.74,AR,1612222367
4,gogrial,8.5332,28.1004,24.07,30,18,2.78,SS,1612222464
5,doka,13.5167,35.7667,23.79,33,0,5.89,SD,1612222499
6,gat,31.6100,34.7642,19.44,39,0,2.24,IL,1612222444
7,hays,30.0502,-98.0336,18.00,20,1,2.57,US,1612222706
8,tambura,5.6000,27.4667,22.49,32,13,1.58,SS,1612222717
9,riyadh,24.6877,46.7219,15.00,31,0,2.32,SA,1612222427
10,general roca,-39.0333,-67.5833,23.00,40,0,1.03,AR,1612222774
11,zaria,11.1113,7.7227,20.81,23,4,2.79,NG,1612222790
12,san buenaventura,27.0833,-101.5333,19.44,22,50,2.87,MX,1612222796
13,parker,32.7668,-97.8003,16.00,27,1,2.57,US,1612222861
14,araouane,18.9048,-3.5265,20.17,21,23,4.00,ML,1612222875
15,adre,13.4667,22.2000,19.51,26,0,2.44,TD,1612222964
16,san ramon,37.7799,-121.9780,18.33,39,1,4.12,US,1612222746

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [73]:
hotel_df['Hotel_Name'] = ''

#Get latitude and longitud for each city
base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
radius = 5000
business_type = 'lodging'

params = {'key':gkey,'radius':radius,'location':location, 'type':business_type}

for i, row in hotel_df.iterrows():
  params['location'] = str(hotel_df.loc[i,'Lat'])+','+str(hotel_df.loc[i,'Lng'])
  response = requests.get(base_url,params=params).json()

  try:
    hotel_df.loc[i,'Hotel_Name']= response['results'][0]['name']    
  except:
    hotel_df.loc[i,'Hotel_Name']= np.NaN

hotel_df

<ipython-input-73-5d79ed2d2c4c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df['Hotel_Name'] = ''
/Users/carlospazos/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name
0,san patricio,28.0170,-97.5169,22.00,16,1,2.57,US,1612222274,"Motel 6 Sinton, TX"
1,ndele,8.4109,20.6473,24.44,26,7,1.78,CF,1612222295,NaN
2,kutum,14.2000,24.6667,17.63,27,0,3.01,SD,1612222416,Dibbo areaمنطقة دبو
3,rawson,-43.3002,-65.1023,24.05,29,0,9.74,AR,1612222367,Hosteria Sampedro
4,gogrial,8.5332,28.1004,24.07,30,18,2.78,SS,1612222464,NaN
5,doka,13.5167,35.7667,23.79,33,0,5.89,SD,1612222499,NaN
6,gat,31.6100,34.7642,19.44,39,0,2.24,IL,1612222444,OlusHome
7,hays,30.0502,-98.0336,18.00,20,1,2.57,US,1612222706,Sinya on Lone Man Creek
8,tambura,5.6000,27.4667,22.49,32,13,1.58,SS,1612222717,Rikito Lodge
9,riyadh,24.6877,46.7219,15.00,31,0,2.32,SA,1612222427,InterContinental Riyadh
10,general roca,-39.0333,-67.5833,23.00,40,0,1.03,AR,1612222774,Hotel El Recreo
11,zaria,11.1113,7.7227,20.81,23,4,2.79,NG,1612222790,A.B.U Hotels
12,san buenaventura,27.0833,-101.5333,19.44,22,50,2.87,MX,1612222796,Hotel Gran Plaza
13,parker,32.7668,-97.8003,16.00,27,1,2.57,US,1612222861,Candlewood Suites Weatherford
14,araouane,18.9048,-3.5265,20.17,21,23,4.00,ML,1612222875,NaN
15,adre,13.4667,22.2000,19.51,26,0,2.44,TD,1612222964,NaN
16,san ramon,37.7799,-121.9780,18.33,39,1,4.12,US,1612222746,San Ramon Marriott

In [74]:
#Remove locations where a hotel was not found
clean_hotel_df = hotel_df.dropna()

In [75]:
clean_hotel_df

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel_Name
0,san patricio,28.0170,-97.5169,22.00,16,1,2.57,US,1612222274,"Motel 6 Sinton, TX"
2,kutum,14.2000,24.6667,17.63,27,0,3.01,SD,1612222416,Dibbo areaمنطقة دبو
3,rawson,-43.3002,-65.1023,24.05,29,0,9.74,AR,1612222367,Hosteria Sampedro
6,gat,31.6100,34.7642,19.44,39,0,2.24,IL,1612222444,OlusHome
7,hays,30.0502,-98.0336,18.00,20,1,2.57,US,1612222706,Sinya on Lone Man Creek
8,tambura,5.6000,27.4667,22.49,32,13,1.58,SS,1612222717,Rikito Lodge
9,riyadh,24.6877,46.7219,15.00,31,0,2.32,SA,1612222427,InterContinental Riyadh
10,general roca,-39.0333,-67.5833,23.00,40,0,1.03,AR,1612222774,Hotel El Recreo
11,zaria,11.1113,7.7227,20.81,23,4,2.79,NG,1612222790,A.B.U Hotels
12,san buenaventura,27.0833,-101.5333,19.44,22,50,2.87,MX,1612222796,Hotel Gran Plaza
13,parker,32.7668,-97.8003,16.00,27,1,2.57,US,1612222861,Candlewood Suites Weatherford
16,san ramon,37.7799,-121.9780,18.33,39,1,4.12,US,1612222746,San Ramon Marriott

In [76]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel_Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]
locations = clean_hotel_df[["Lat", "Lng"]]

In [77]:
# Add marker layer ontop of heat map
f.add_layer(gmaps.marker_layer(locations,info_box_content=hotel_info))

# Display figure
f

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…